<mat-card class="p-4">

  <div class="header-actions">
    <h2>Lista de Agendamentos</h2>
    <button mat-flat-button color="primary" (click)="novoAgendamento()">
      <mat-icon>add</mat-icon>
      Novo Agendamento
    </button>
  </div>

  <div *ngIf="loading" class="text-center my-4">
    <mat-spinner diameter="50"></mat-spinner>
    <p>Carregando agendamentos...</p>
  </div>

  <table mat-table [dataSource]="appointments" *ngIf="!loading && appointments.length > 0" class="mat-elevation-z2 w-100">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let appointment"> {{ appointment.id }} </td>
    </ng-container>

   <ng-container matColumnDef="startTime">
  <th mat-header-cell *matHeaderCellDef> Data e Hora </th>
  <td mat-cell *matCellDef="let appointment">
  {{ appointment.startTime | formatarHorario: appointment.endTime }}
</td>
</ng-container>



    <ng-container matColumnDef="clientId">
      <th mat-header-cell *matHeaderCellDef> Cliente ID </th>
      <td mat-cell *matCellDef="let appointment"> {{ appointment.clientId }} </td>
    </ng-container>

    <ng-container matColumnDef="paid">
      <th mat-header-cell *matHeaderCellDef> Pagamento </th>
      <td mat-cell *matCellDef="let appointment">
  <span [ngClass]="(appointment.paid | paymentStatus).cssClass">
    {{ (appointment.paid | paymentStatus).text }}
  </span>
</td>

    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let appointment" class="actions">
        <button mat-icon-button color="primary" (click)="editar(appointment.id)" aria-label="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="excluir(appointment.id)" aria-label="Excluir">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    *ngIf="!loading && appointments.length > 0"
    [length]="totalElements"
    [pageSize]="size"
    [pageIndex]="page"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>

  <p *ngIf="!loading && appointments.length === 0" class="text-center mt-4">
    Nenhum agendamento encontrado.
  </p>

</mat-card>
